.home-wrapper {
  height: calc(100vh - 85px);
  background-image: url('/img/wallpaper.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  .inner {
    background-color: rgba($secondary-color, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}